# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
env/
ENV/

# Sensitive Files
.env
.env.*
*.log

# Spotify Cache
.cache
.cache-*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db